<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label nzSpan="2" nz-col> 堆场代码 </nz-form-label>
    <nz-form-control nzSpan="6" nz-col>
      <input
        nz-input
        type="text"
        placeholder="请输入堆场代码"
        formControlName="depot"
      />
    </nz-form-control>
    <nz-form-label nzSpan="2" nz-col>提单号</nz-form-label>
    <nz-form-control nz-col nzSpan="6">
      <input nz-input type="text" formControlName="blNo" />
    </nz-form-control>
    <nz-form-label nzSpan="2" nz-col>英文船名</nz-form-label>
    <nz-form-control nz-col nzSpan="6">
      <input
        nz-input
        type="text"
        placeholder="请输入英文船名"
        formControlName="vesselName"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="2" nz-col>航次</nz-form-label>
    <nz-form-control nz-col nzSpan="6">
      <input
        nz-input
        type="text"
        placeholder="请输入航次"
        formControlName="voyage"
      />
    </nz-form-control>
    <nz-form-label nzSpan="2" nz-col> 尺寸 </nz-form-label>
    <nz-form-control nzSpan="6" nz-col>
      <input
        nz-input
        type="text"
        placeholder="请输入集装箱尺寸"
        formControlName="contSize"
      />
    </nz-form-control>
    <nz-form-label nzSpan="2" nz-col> 箱型 </nz-form-label>
    <nz-form-control nzSpan="6" nz-col>
      <input
        nz-input
        type="text"
        placeholder="请输入集装箱类型"
        formControlName="contType"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="2" nz-col>车队代码</nz-form-label>
    <nz-form-control nz-col nzSpan="22">
      <input
        nz-input
        type="text"
        placeholder="请输入车队代码"
        formControlName="carGroupCode"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="2" nz-col>有效日期</nz-form-label>
    <nz-form-control nz-col nzSpan="22">
      <nz-date-picker formControlName="expiryDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="2" nz-col>备注</nz-form-label>
    <nz-form-control nz-col nzSpan="22">
      <input nz-input type="text" formControlName="remark" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="2" nz-col> 集装箱 </nz-form-label>

    <nz-form-control nzSpan="14">
      <button nz-button (click)="addContainer()">增加</button>
      <div
        class="containerContent"
        formArrayName="containerContent"
        *ngFor="
          let content of containerContent.controls;
          let containerIndex = index
        "
      >
        <div [formGroupName]="containerIndex.toString()">
          <nz-row>
            <nz-form-label nzSpan="2" nz-col>
              集装箱{{ containerIndex + 1 }}
            </nz-form-label>
            <nz-form-control nzOffset="15" nzSpan="2" nz-col>
              <button nz-button (click)="removeContainer(containerIndex)">
                删除
              </button>
            </nz-form-control>
          </nz-row>
          <nz-row>
            <nz-form-label nzSpan="2" nz-col>集装箱编号</nz-form-label>
            <nz-form-control nz-col nzSpan="6">
              <input nz-input type="text" formControlName="container_id" />
            </nz-form-control>
            <nz-form-label nzSpan="2" nz-col>集装箱箱号</nz-form-label>
            <nz-form-control nz-col nzSpan="6">
              <input nz-input type="text" formControlName="container_no" />
            </nz-form-control>
            <nz-form-label nzSpan="2" nz-col>进场日期</nz-form-label>
            <nz-form-control nz-col nzSpan="6">
              <nz-date-picker formControlName="enter_time"></nz-date-picker>
            </nz-form-control>
          </nz-row>
          <nz-row>
            <nz-form-label nzSpan="2" nz-col>净重</nz-form-label>
            <nz-form-control nz-col nzSpan="6">
              <input nz-input type="text" formControlName="ctn_net_weight" />
            </nz-form-control>
            <nz-form-label nzSpan="2" nz-col>授权码</nz-form-label>
            <nz-form-control nz-col nzSpan="6">
              <input nz-input type="text" formControlName="serialNo" />
            </nz-form-control>
          </nz-row>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-form-item>
  <nz-form-label nzSpan="3" nz-col> 表单的值 </nz-form-label>
  <nz-form-control nzSpan="21" nz-col>
    {{ validateForm.value | json }}
  </nz-form-control>
</nz-form-item>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="close()">取消</button>
  <button
    nz-button
    nzType="primary"
    (click)="addsubmit(validateForm.value)"
    [nzLoading]="showLoading"
  >
    提交
  </button>
</div>
