<app-fuzzy-search (onSend)="onSend($event)"></app-fuzzy-search>

<button nz-button nzType="primary" (click)="createForm()">新增</button>
<div class="table-operations">
  <button nz-button (click)="resetFilters()">全部</button>
  <button nz-button (click)="setFilterAs('S')">预约成功</button>
  <button nz-button (click)="setFilterAs('F')">预约失败</button>
  <button nz-button (click)="setFilterAs('P')">审核通过</button>
  <button nz-button (click)="setFilterAs('R')">审核驳回</button>
</div>
<nz-table
  [nzData]="plan"
  [nzLoading]="loading"
  [nzFrontPagination]="false"
  nzShowSizeChanger
  [nzScroll]="{ y: '650px' }"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="planId" nzWidth="110px">计划号</th>
      <th nzColumnKey="planTime" nzWidth="90px">预约时间</th>
      <th nzColumnKey="expTime" nzWidth="70px">过期时间</th>
      <th nzColumnKey="vessel" nzWidth="100px">船名</th>
      <th nzColumnKey="voyage" nzWidth="120px">航次</th>
      <th nzColumnKey="billNo" nzWidth="200px">提单号</th>
      <th nzColumnKey="carGroupCode" nzWidth="70px">所属车队</th>
      <th nzColumnKey="userId" nzWidth="160px">所属客户</th>
      <th
        nzColumnKey="planStatus"
        nzWidth="100px"
        [nzFilters]="filterPlanStatus"
        [nzFilterFn]="true"
        [nzShowFilter]="true"
      >
        预约状态
      </th>
      <th nzColumnKey="paymentStatus" nzWidth="120px">缴费状态</th>
      <th nzColumnKey="documentPath" nzWidth="120px">提箱单图片</th>
      <th nzColumnKey="remark" nzWidth="120px">备注</th>
      <th nzColumnKey="KSCode" nzWidth="120px">KS码</th>
      <th nzColumnKey="action" nzWidth="120px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of plan">
      <td>{{ dataItem.planId }}</td>
      <td>{{ dataItem.plan_time }}</td>
      <td>{{ dataItem.exp_time }}</td>
      <td>{{ dataItem.vesselName }}</td>
      <td>{{ dataItem.voyage }}</td>
      <td>{{ dataItem.blNo }}</td>
      <td>{{ dataItem.car_group_code }}</td>
      <td>{{ dataItem.user_id }}</td>
      <td>{{ dataItem.plan_status }}</td>
      <td>{{ dataItem.payment_status }}</td>
      <td>{{ dataItem.document_path }}</td>
      <td>{{ dataItem.remark }}</td>
      <td>{{ dataItem.KS_code }}</td>
      <td>
        <!-- <button
          nz-button
          nzType="primary"
          nzGhost
          nzShape="round"
          nzDanger
          (click)="deletePlan(dataItem)"
        >
          删除
        </button>
        <button
          nz-button
          nzType="primary"
          nzGhost
          nzShape="round"
          (click)="updatePlan(dataItem)"
        >
          编辑
        </button> -->
      </td>
    </tr>
  </tbody>
</nz-table>
